.online-indicator {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 10px;
  border-radius: 50%;
  position: relative;
  background-color: red; /* default offline */
}

.online-indicator.online {
  background-color: #0fcc45; /* green */
}

.online-indicator .blink {
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #0fcc45;
  opacity: 0.7;
  animation: blink 1s linear infinite;
}

.online-indicator.offline .blink {
  display: none; /* hide blinking if offline */
}

@keyframes blink {
  100% { 
    transform: scale(2, 2); 
    opacity: 0;
  }
}
