/* Global */
.dark-mode {
  background-color: #181818;
  color: #eaeaea;
}

.dark-mode a {
  color: #9ad1ff;
}

.dark-mode a:hover {
  color: #ffffff;
}

/* Sidebar */
.dark-mode .sidebar {
  background-color: #242424;
  color: #f5f5f5;
  border-right: 1px solid #333;
}

/* Sidebar toggle button */
.dark-mode .sidebar__toggle-btn img {
  filter: brightness(0) invert(1); /* default for icons */
}
.dark-mode .sidebar__toggle-btn img.sidebar-logo-toggle {
  filter: none !important;
}

.dark-mode .sidebar__toggle-btn:hover {
  filter: brightness(0) invert(1);
  background: none;
  cursor: pointer;
}

/* .dark-mode .sidebar-logo {
  filter: brightness(0) invert(1);
} */

.dark-mode .sidebar__nav-container .btn,
.dark-mode .sidebar__nav-container a {
  color: #ddd !important;
}

.dark-mode .sidebar__nav-container a.bg-primary {
  background-color: #3a7bd5 !important;
  color: #fff !important;
}

/* Toggle Switch */
.dark-mode .switch span {
  background-color: #555;
}



.dark-mode h1,
.dark-mode h2,
.dark-mode h3,
.dark-mode h4,
.dark-mode h5,
.dark-mode h6 {
  color: #ffffff;
}


/* Cards */
.dark-mode .card {
    background-color: #444;
}

.dark-mode .card .card-img-container {
    background-color: #3a3a3a;
}

.dark-mode .card img,
.dark-mode .client-api-form img,
.dark-mode .send-message-form img {
    filter: brightness(0) invert(1);
}



.dark-mode .card .card-text {
    color: #e3e3e3;
}


/* Dashboard */
.dark-mode .card p,
.dark-mode .card .form-label {
    color: #e3e3e3 !important;
}

.dark-mode .container p,
.dark-mode .form-check-label {
    color: #e3e3e3 !important;
}

.dark-mode .nav-item button {
    color: #3a7bd5;
    background-color: transparent;
}




/* Buttons */
.dark-mode button {
  color: #eaeaea;
}

.dark-mode button:hover {
  background-color: #3a3a3a;
}

/* Inputs / Forms */
.dark-mode input,
.dark-mode textarea,
.dark-mode select {
  background-color: #666;
  color: #fff;
  /* border: 1px solid #444; */
}

.dark-mode input::placeholder {
  color: #eee;
}

.dark-mode input:focus,
.dark-mode textarea:focus,
.dark-mode select:focus {
  background-color: #666;
  color: #fff;
  outline: none; /* optional: remove default blue outline */
}

.dark-mode .client-api-form,
.dark-mode .send-message-form {
  background-color: #666 ;
  border: none;
}

.dark-mode .client-api-form button,
.dark-mode .send-message-form button {
  cursor: pointer;
}

/* Remove all other hover effects */
.dark-mode .client-api-form button:hover,
.dark-mode .send-message-form button:hover {
  background-color: inherit; /* or whatever the default is */
  color: inherit; /* keep text color same */
}


.dark-mode .user-bubble {

}

.dark-mode .bot-bubble {
  background-color: #555;
  color: #fff;
}